{% extends "layout.html" %}
{% block content %}
  <main role="main" class="container">
    <div class="jumbotron">
      <h1>Playlist Create</h1>
    <form action="/userhome" method="POST">
      <div class="form-group">
        <label for="url">Url from 1001Tracklists.com</label>
        <input type="text" name="url" id="url" class="form-control" required>
        <div class="invalid-feedback">Not a valid URL!</div>
      </div>
      <button type="submit" class="btn btn-primary">Create Playlist</button>
    </form>
    </div>
  </main>
{% endblock %}